log/*
tmp/*
*.log
vendor/bundle
node_modules
.bundle
coverage
.byebug_history
.env
.env.development
.env.test
.env.production.local
.rspec
spec/
test/
features/
tmp/*
storage/*
public/assets/*
public/packs/*
public/packs-test/*
public/uploads/*
public/system/*
.sass-cache
.idea/
.vscode/
*.iml
*.zip
*.tar
*.gz
*.rar
*.mp4
*.avi
*.mkv
*.mov
.git
.gitignore
Dockerfile*
docker-compose*
