<% content_for :title, "Editing solicitante" %>

<h1>Editing solicitante</h1>

<%= render "form", solicitante: @solicitante %>

<br>

<div>
  <%= link_to "Show this solicitante", @solicitante %> |
  <%= link_to "Back to solicitantes", solicitantes_path %>
</div>
